---
layout: default
---
<ul class="photo-gallery">
{% for image in site.static_files %}
    {% if image.path contains 'images/thumbnails' %}
		<li>
			<a href="#" data-featherlight="{{ site.baseurl }}/images/{{ image.name }}">
				<img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
			</a>
		</li>
    {% endif %}
{% endfor %}
</ul>

<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Sy0dxfV_bbw?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
